/* CSS files add styling rules to your content */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 2em;
}

h1.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}

h2.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4.neatFont2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  padding-top: 10px;
}

div.home-section {
  text-decoration: none;
  border: solid black;
  border-width: 1px;
  padding: 20px;
  margin: 40px;
}

img.icon {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}

img.intro {
  opacity: 1;
}

img.initial {
 padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.beBold {
  padding-top: 20px;
}

p.is-hero {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1;
  padding: 20px;
}

p.is-hero2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1;
  padding: 10px;
}

p.fancyShow {
  padding-top: 120px;
}

p.fancyShow2 {
  padding-top: 20px;
}

p.spacing-info {
  padding-top: 60px;
}

ul.fancyShow2 {
  padding-top: 25px;
}

.spacing {
  padding-bottom: 20px;
}

/* Centered text */
/* .centered {
  border: solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  padding: 5px;
} */

.aside {
    background: rgba(114,146,176,0.1);
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    margin: 1.5em 0;
    padding: 1em 1.5em;
}

img.tiny {
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 10px;
}