/* CSS files add styling rules to your content */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 2em;
  visibility: visible;
}

h1.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}

h2.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4.neatFont2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  padding-top: 10px;
}

div.home-section {
  text-decoration: none;
  border: solid black;
  border-width: 1px;
  padding: 20px;
  margin: 40px;
}

img.icon {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}

img.intro {
  opacity: 1;
}

img.initial {
 padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.beBold {
  padding-top: 20px;
}

p.is-hero {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1;
  padding: 20px;
}

p.is-hero2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1;
  padding: 10px;
}

p.fancyShow {
  padding-top: 120px;
}

p.fancyShow2 {
  padding-top: 20px;
}

p.spacing-info {
  padding-top: 60px;
}

ul.fancyShow2 {
  padding-top: 25px;
}

.spacing {
  padding-bottom: 20px;
}

/* Centered text */
/* .centered {
  border: solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  padding: 5px;
} */

.aside {
    background: rgba(114,146,176,0.1);
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    margin: 1.5em 0;
    padding: 1em 1.5em;
}

img.tiny {
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 10px;
}

.video {
  display: block;
  margin: auto;
}

/* vertical navbar */

/* .upper-onepage-navigation {
  position: fixed;
  z-index: 99999;
  color: #202122;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  overflow: hidden;
  width: 300px;
  direction: rtl;
}

.upper-onepage-navigation li {
  display:  block;
  position: relative;
  height: 12px;
  border: 2px solid rbga(0,0,0,0.9);
  border-radius: 100%;
  margin-top: 0 0 15px 0;
}

.upper-onepage-navigation li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radiuls: 100%;
}

.upper-onepage-navigation li a.upper-active {
  background: rgba(0,0,0,0.9);
}

.upper-onepage-navigation li span.pag-title-wrap {
  position: absolute;
  width: 200px;
  min-height: 1.5em;
  height: 100%;
  right: 13px;
  overflow: hidden;
  text-transform: capitalize;
  top: -5px;
}

.upper-onepage-nagivation li span.pag-title {
  position: absolute;
  top: -5px;
  opacity: 0;
  text-aligne: right;
  width: 200px;
  right: -200px;
  transition: all .5 ease;
  color: rgba(0,0,0,0.3);
  font-weight: bold;
  backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
  cursor: default;
  font-weight: 700;
  text-transform: capitalize;
}

.upper-onepage-navigation li:hover span.pag-title {
  right: 13px;
  opacity: 1;
  color: #0a0a26;
  font-size: 16px;
  text-transform: unset;
  letter-spacing: -0.5px;
}

.upper-onepage-navigation {
  transition: opacity .3s linear;
}

a {
  margin: 0;
  font-weight: normal;
}

a:active, a:hover {
  outline: 0;
}

ul li {
  line-height: 1.5em;
  margin-left: 20px;
  margin-top: .8em;
  margin-bottom: .8em;
}

ul, li {
  list-style: disc;
} */

.upper-onepage-navigation {
  position: fixed;
  z-index: 99999;
  right: 100px;
  top: 50%;
  direction: rtl;
  line-height: 1.5em;
  overflow: hidden;
}

.upper-onepage-navigation li::marker {
  font-size: 2rem;
}


.upper-onepage-navigation {
  transition: opacity .3s linear;
}

.upper-onepage-navigation li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radiuls: 100%;
}



/* .upper-onepage-navigation li {
  display: inline-block;
  text-align: left;
} */


ul {
  list-style-type: circle;
}

/* main navigation */

$background--color:#1e2023;
$icon--color:#1e2023;
$font--color:#ffffff;
$font--color--active:#000000;
$font--primary:'Fira Sans', sans-serif;
$transition--length: .8;


.site-content{
	max-width: 1100px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	&__headline{
		font-weight: 200;
		color: $font--color;
		font-size: calc(2vw + 10px);
	}
}

//default state
.menu-icon{
	$size: 30px;
	height: $size;
	width: $size;
	position: fixed;
	z-index: 2;
	left: 50px;
	top: 30px;
	cursor: pointer;
	&__line{
		height: 2px;
		width: $size;
		display: block;
		background-color: $font--color;
		margin-bottom: 4px;
		transition: transform .2s ease, background-color .5s ease;
	}
	&__line-left{
		width: $size / 2;
	}
	&__line-right{
		width: $size / 2;
		float: right;
	}
}

.nav{
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
	$transition--easing: cubic-bezier(.77,0,.175,1);
	position: fixed;
	z-index: 1;
	&:before,&:after{
		content: "";
		position: fixed;
		width:$width;
		height:$height;
		background: rgba(#eaeaea, .2);
		z-index: -1;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}
	&:after{
		background: rgba(#ffffff, 1);
		transition-delay: 0s;
	}
	&:before{
		transition-delay: .1s;
	}
	&__content{
		position: fixed;
		top:50%;
		transform: translate(0%,-50%);
		width: 100%;
    text-align: center;
		font-size: $font--size--calc;
		font-weight: 200;
		cursor: pointer;
	}
	&__list-item{
		position: relative;
		display: inline-block;
		transition-delay: $transition--length + s;
		opacity: 0;
		transform: translate(0%, 100%);
		transition: opacity .2s ease, transform .3s ease;
		margin-right: 25px;
		&:before{
			content: "";
			position: absolute;
			background: $font--color--active;
			width: 20px;
			height: 1px;
			top: 100%;
			transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}
		&:hover{
			&:before{
				width: 100%;
			}
		}
	}
}

//active state
body.nav-active{
	$menu--items--count: 4;
	.menu-icon{
		&__line{
			background-color: #000;
			transform: translateX(0px) rotate(-45deg);
		}
		&__line-left{
			transform: translateX(1px) rotate(45deg);
		}
		&__line-right{
			transform: translateX(-2px) rotate(45deg);
		}
	}
	.nav{
		visibility:visible;
		&:before,&:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			transition-delay: .1s;
		}
		&:before{
			transition-delay: 0s;
		}
		&__list-item{
			opacity: 1;
			transform: translateX(0%);
			transition: opacity .3s ease, transform .3s ease, color .3s ease;
			@for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}){
					transition-delay: $transition--length * $i / 8 + .5 + s;
				}
			}
		}
	}
}