

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin: 2em;
  visibility: visible;
}

h1.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}

h2.neatFont {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h4.neatFont2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1;
  padding-top: 10px;
}

div.home-section {
  text-decoration: none;
  border: solid black;
  border-width: 1px;
  padding: 20px;
  margin: 40px;
}

img.icon {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px;
}

img.intro {
  opacity: 1;
}

img.initial {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p.beBold {
  padding-top: 20px;
}

p.is-hero {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1;
  padding: 20px;
}

p.is-hero2 {
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1;
  padding: 10px;
}

p.fancyShow {
  padding-top: 120px;
}

p.fancyShow2 {
  padding-top: 20px;
}

p.spacing-info {
  padding-top: 60px;
}

ul.fancyShow2 {
  padding-top: 25px;
}

.spacing {
  padding-bottom: 20px;
}

/* Centered text */
/* .centered {
  border: solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  font-weight: bold;
  line-height: 1.5em;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  padding: 5px;
} */

.aside {
    background: rgba(114,146,176,0.1);
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    margin: 1.5em 0;
    padding: 1em 1.5em;
}

img.tiny {
  width: 50%;
  display: block;
  margin: auto;
  padding-top: 10px;
}

.video {
  display: block;
  margin: auto;
}

/* vertical navbar during initial page */

.side-nav {
  position: fixed;
  right: 100px;
  top: 45%;
}

.side-nav-link {
  display: inline-block;
  float: right;
  text-decoration: none;
  color: #000;
}

.side-nav-link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.item-container {
  transition: width 500ms;
  transition-timing-function: ease;
  float: right;
  width: 15px;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 25px;
}

.item-container:hover {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  list-style-type: circle;
}

/* Main navbar */

.nav-item {
  padding: 5px;
  margin: 2px;
  text-transform: capitalize;
}

.nav-link {
  border-bottom: 3px solid #fff;
  transition: all 0.25s linear;
  position: relative;
}

.nav-link:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff8cbc;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform-origin: left;
  transform: scale(0);
  transition: 0.25s linear;
}

.nav-link:hover:before {
  transform: scale(1);
}

/* Button return to top */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 50px;
    display:none;
}

/* Footer */

.site-footer {
  padding: 2.5rem 0;
  background-color: #ffff;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}

.footer-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

:root {
  --mainColor: #ff8cbc;
}

a.footer-link-item {
  text-decoration: none;
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}

a.footer-link-item:hover {
  background-size: 4px 50px;
}

/* Terminology table */

table, th, td {
  border: 2px solid #000;
  padding: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

th {
  text-align: center;
  font-family: 'KorinnaStd-Bold', 'Georgia', Times, serif;
  font-size: 1.25em;
  color: #706f6d;
}

td:hover {
  color: #b54c81;
}